@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0e0eb ;
}


.container{
  width: 80%;
  height: 80vh;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F27405;;
  padding: 1rem;
}

.form-image{
  width: 31rem;
}

.formulário{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: #fff;
  padding: 3rem;
}

.form