@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  flex-direction: column;
  display: flex;
}

#header{
  height: 8vh;
 justify-content: flex-start

}

.hd{
  
}

.frm{
  width: 100%;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D8E8F2 ;
}


.container{
  width: 80%;
  height: 80vh;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F27405;;
  padding: 1rem;
}

.form-image{
  width: 31rem;
}

.formulario{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: #fff;
  padding: 3rem;
  height: 100%;
}

.form-header{
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.login-button{
  display: flex;
  align-items: center;
}

.login-button button{
  border: none;
  background-color: #F27405;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.login-button button:hover{
  background-color: #F59C4E;
}

.login-button button a{
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.form-header h1::after{
  content: '';
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #F27405;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.input-box{
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.input-box input{
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover{
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid #F27405;
}

.input-box label,
.gender-title h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0;
}

.input-box input::placeholder {
color: #000000be;
}

.gender-group {
  display:flex;
  justify-content: space-between;
  margin-top: 0.62rem;
  padding: 0 0 .5rem;
}

.gender-input {
  display:flex;
  align-items: center;
}

.gender-input input{
  margin-right: 0.35rem;
}

.gender-input label{
  font-size: 0.81rem;
  font-weight: 600;
  color: #000000c0;
}

.continue-button button{
  width: 100%;
  margin-top: .0010rem;
  border: none;
  background-color: #F27405;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.continue-button button:hover{
  background-color: #F59C4E;
}

.continue-button button a {
  text-decoration: none;
  font-size: 0.93;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 1214px) {
  .form-image{
    display: none;
  }

  .container{
    width: 100%;
    height: 100%;
    
  }

  .formulario{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .form{
    width: 100%;
  }
}

@media screen and (max-width: 1064px) {
  .container{
    width: 90%;
    height: auto;
    align-items: center;
  }

  .input-group{
    overflow-y: scroll;
    justify-content: space-around;
    max-height: 15rem;
  }
}